body
{
    background-image: image-set("./img/Brisket 3.webp");
    background-repeat:no-repeat;
    background-size: cover;
    margin: 0px;
}

#top
{
    display: flex;
    flex-direction: column;
}
#Topcenter
{
background-color: blue;
text-align: center;
width: 50%;
height: 15%;
}
#Topleft
{
width: 25%;
height: 15%;

}
#Topright
{
width: 25%;
height: 15%;
}
#Indigrenser
{
background-color: white;
}
#Receptkrydda
{
background-color: white;
}
#Recept
{
background-color: white;
}




