body
{
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 25% 50% 25%;
    background-image: image-set("./img/Brisket 3.webp");
    background-repeat:no-repeat;
    background-size: cover;
}

#Topcenter
{
background-color: blue;
border: 0px;
height: 25%;
width: 50%;
flex-direction: row;
margin: 0px;
text-align: center;

}
#Topleft
{
flex-direction: row;
justify-content: space-around;
align-items: center;
height: 25%;
width: 25%;
}
#Topright
{
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 25%;
    width: 25%;
}
#Indigrenser
{

}
#Receptkrydda
{

}
#Recept
{

}




