body
{
    background-image: image-set("./img/Brisket 3.webp");
    background-repeat:no-repeat;
    background-size: cover;
    margin: 0px;
}
img{
    width: 100%;
    height: 100%;
}
#Top
{
    display: flex;
    flex-direction: row;
    height: 25vh;
}
#Topleft
{
width: 25%;
}
#Topcenter
{
background-color: blue;
text-align: center;
width: 50%;
}
#Topright
{
width: 25%;
}
#Ingredienser
{
background-color: white;
margin: 100px;
width: 35vh;
line-height: 0,4;
}
#Receptkrydda
{
    background-color: white;
    margin: 100px;
    width: 35vh;
    text-size-adjust: 0,5;
}
#Recept-steg-for-steg
{
background-color: white;
margin: 50px;
width: 35vh;
}


